
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
h1, h2, h3 {
  font-family: 'impact', sans-serif;
}
/* MAIN START */
main {
  transition: margin-right 0.5s ease;
}
.outside-container {
  width: 100vw;
  background: #dddddd;
}
.container {
  background: #dddddd;
  display: flex;
  justify-content: space-between;
  max-width: 1080px;
  margin: auto;
  height: 75.59px;
}
.logo {
  display: inline-block;
  padding: 5px 0 5px 25px;
}
.logo img {
  width: 200px;
}
#top-nav {
  background: #dddddd;
  height: 100%;
  width: 0;
  position: fixed;
  top: px;
  right: 0px;
  overflow-x: hidden;
  transition: .5s;
}
#top-nav ul li {
  list-style: none;
  padding: 1em 0em;
  position: relative;
  top: 70px;
}
#top-nav ul li:hover {
  color: #dddddd;
}
#top-nav ul li:hover {
  background: #02d1bc;
}
#top-nav ul li a {
  text-decoration: none;
  color: #404d59;
  padding: 1.8em 2.5em;
  font-weight: lighter;
}
#hamburger {
  height: 75.59px;
  width: 75.59px;
  position: fixed;
  right: 0;
  top: 0;
  cursor: pointer;
  z-index: 100;
}
#line {
  height: 4px;
  width: 35px;
  background: #02d1bc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  transition: .3s;
}
#line::before, #line::after {
  content: "";
  height: 4px;
  width: 35px;
  background: #02d1bc;
  position: absolute;
  border-radius: 5px;
}
#line::before {
  top: -11px;
  transition: .3s;
}
#line::after {
  top: 11px;
  transition: .3s;
}
#hamburger.active #line {
  background: rgba(0, 0, 0, 0);
  transition: .3s;
}
#hamburger.active #line::before {
  transform: rotate(45deg);
  top: 0;
}
#hamburger.active #line::after {
  transform: rotate(-45deg);
  top: 0;
}

#section-1 {
  background: 50% 50% / cover;
  /*background-image: url('pictures/section-1-bg.jpg'); */
  min-height: calc(100vh - 74px);
}
.content-container-width-960 {
  display: grid;
  grid-template-columns: 2em 1fr 2em;
  grid-template-rows: auto;
  max-width: 1080px;
  margin: auto;
}
.h1-section-1 {
  grid-column: 2/3;
}

#section-2 {
  height: 100vh;
}
/* FOR NAVIGATION BAR */
@media only screen and (min-width: 1115px){
  main {
    position: relative;
    top: 75.59px;
  }
  .outside-container {
    position: fixed;
    z-index: 50;
  }
  #hamburger {
    display: none;
  }
  #top-nav {
    position: relative;
    background: #dddddd;
    align-self: flex-end;
    display: flex;
    width: auto;
    top: 0;
    height: auto;
    transition: none;
    overflow: hidden;
  }
  #top-nav ul {
    display: flex;
    justify-content: flex-end;
  }
  #top-nav ul li {
    list-style: none;
    padding: 2.1em 0em;
    position: static;
  }
  #top-nav ul li:hover {
    color: #dddddd;
  }
  #top-nav ul li:hover {
    background: #02d1bc;
  }
  #top-nav ul li a {
    text-decoration: none;
    color: #404d59;
    padding: 1.8em 1.5em;
  }

}
